@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .iconButton {
      @apply flex flex-col items-center justify-center text-[#717171] hover:text-[#222222] box-border	
      transition duration-200 ease-out cursor-pointer h-[78px]
      active:scale-95;
   }
}

.rdrDateDisplayWrapper,
.rdrMonthAndYearPickers,
.rdrMonthPicker,
.rdrYearPicker {
   display: none;
}

.rdrDefinedRangesWrapper {
   border-bottom-left-radius: 30px;
   display: none;
}

.rdrCalendarWrapper {
   border-radius: 30px;
}

.rdrDayNumber {
   color: #222222;
}

.rdrNextPrevButton.rdrPprevButton,
.rdrNextPrevButton.rdrNextButton {
   background: none;
   border-radius: 100%;
   height: 40px;
   width: 40px;
}

.rdrNextPrevButton.rdrPprevButton:hover,
.rdrNextPrevButton.rdrNextButton:hover {
   background: #f7f7f7;
}

.rdrNextButton i {
   margin: 0 0 0 12px !important;
}

.rdrMonthName {
   text-align: center !important;
   font-size: 14px;
   font-weight: 500 !important;
   color: #282828 !important;
}

.rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrStartEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrEndEdge ~ .rdrDayNumber span,
.rdrDay:not(.rdrDayPassive) .rdrSelected ~ .rdrDayNumber span {
   color: black !important;
}

.rdrWeekDay {
   color: #727272 !important;
   font-weight: 500 !important;
}

.rdrMonths {
   padding-top: 10px;
}

.rdrCalendarWrapper.rdrDateRangeWrapper {
   position: relative;
}

.rdrMonthAndYearWrapper {
   position: absolute;
}

.rdrDayNumber {
   font-weight: 500 !important;
}

.rdrSelected,
.rdrInRange,
an .rdrEndEdge {
   background-color: #f7f7f7;
}

.rdrStartEdge,
.rdrDayStartOfWeek.rdrInRange {
   border-top-left-radius: 0.5em !important;
   border-bottom-left-radius: 0.5em !important;
}

.rdrDayEndOfMonth .rdrInRange,
.rdrDayEndOfMonth .rdrStartEdge,
.rdrDayEndOfWeek .rdrInRange,
.rdrDayEndOfWeek .rdrStartEdge,
.rdrDayEndOfWeek,
.rdrEndEdge {
   border-top-right-radius: 0.5em !important;
   border-bottom-right-radius: 0.5em !important;
}

.rdrDays > button {
   border-radius: 100%;
}

.rdrDays > button:hover {
   border-radius: 100%;
   border-color: #222222 !important;
   border: solid;
}
.rdrDays > button {
   border-radius: 100%;
}

.rdrDay.rdrDayActive {
   border-color: black;
}

.rdrStartEdge {
   background-color: #222222 !important;
   color: white !important;
}

/* map */
.mapboxgl-popup-close-button {
   left: 16px !important;
   display: flex !important;
   font-size: 20px !important;
   color: white !important;
   border: 1px !important;
   border-radius: 30px !important;
   background-color: rgba(0, 0, 0, 0.5) !important;
   width: 25px !important;
   height: 25px !important;
   justify-content: center !important;
   align-items: baseline !important;
   top: 16px !important;
}

.mapboxgl-popup-content {
   padding: 0 !important;
   border-radius: 12px !important;
   width: 300px;
}

.react-multiple-carousel__arrow {
   background-color: white !important;
   outline-color: red !important;
   border: solid !important;
   outline-style: solid !important;
   outline: red;
   border-width: 0.5px !important;
   color: #222222 !important;
   max-height: 25px !important;
   max-width: 25px !important;
   min-height: 25px !important;
   min-width: 25px !important;
   box-shadow: 10px 10px 10px 10px white !important;
}

.react-multiple-carousel__arrow:hover {
   scale: 105%;
   box-shadow: 2px 6px 6px 2px rgba(159, 140, 156, 0.05) !important;
}

.react-multiple-carousel__arrow--left {
   left: 0 !important;
}

.react-multiple-carousel__arrow--right {
   right: 2px !important;
}

.react-multiple-carousel__arrow::before {
   color: #222222 !important;
   font-size: 12px !important;
}
