/* Calendar Styles */
.rdrMonths {
   /* Wrapper for the months */
   padding-top: 10px;
}
.rdrDateDisplayWrapper,
.rdrMonthAndYearPickers,
.rdrMonthPicker,
.rdrYearPicker {
   /* Hide top option headers */
   display: none;
}

.rdrDefinedRangesWrapper {
   /* Hide left column for fixed date option buttons */
   display: none;
}

.rdrCalendarWrapper {
   /* Main calendar wrapper */
   border-radius: 30px;
   display: flex;
   flex-grow: 1;
   width: auto;
}

.rdrMonthAndYearWrapper {
   /* Div for button group */
   width: 100%;
   position: absolute;
}

.rdrNextPrevButton.rdrPprevButton,
.rdrNextPrevButton.rdrNextButton {
   /* Styling for month navigation buttons */
   background: none;
   border-radius: 100%;
   height: 40px;
   width: 40px;
   align-items: center;
   justify-content: center;
   display: flex;
}

.rdrNextPrevButton.rdrPprevButton:hover,
.rdrNextPrevButton.rdrNextButton:hover {
   /* Styling for month navigation buttons on hover */
   background: #f7f7f7;
}

.rdrNextButton i,
.rdrPrevButton i {
   /* Center button icons  */
   margin: auto !important;
}

.rdrMonthName {
   /* Month Year Heading */
   text-align: center !important;
   font-size: 14px;
   font-weight: 500 !important;
   color: #282828 !important;
}

.rdrWeekDay {
   /* Styling for week days e.g. Mon Tue Wed */
   color: #717171 !important;
   font-weight: 500 !important;
}

.rdrWeekDays {
   padding-left: 5px !important;
   padding-right: 5px !important;
}

.rdrDays {
   display: flex;
   justify-content: center;
}

.rdrDayDisabled {
   /* Styling for disabled buttons */
   background: none !important;
}

.rdrDayDisabled:hover {
   border-style: none !important;
}

.rdrDayToday .rdrDayNumber > span:after {
   /* Removing underline on Today date */
   background: none !important;
}

/* STARTING THE STYLING OPTIONS FOR BUTTONS HERE */
.rdrDay {
   /* day buttons */
   height: 43px !important;
   width: 43px !important;
   position: relative !important;
   display: flex;
   align-items: center;
   justify-content: center;
}

.rdrDayNumber {
   /* Styling for all date numbers  */
   position: absolute !important;
   top: 0 !important;
   width: 43px !important;
   height: 43px !important;
   font-weight: 500 !important;
   border-radius: 100% !important;
   z-index: 50;
   text-align: center;
}

.rdrDayNumber:hover {
   border: solid;
   border-color: #222222;
}

.rdrInRange {
   /* Styling for all date range selected  */
   position: absolute !important;
   top: 0 !important;
   width: 43px !important;
   height: 43px !important;
   background-color: #f7f7f7 !important;
}

.rdrInRange ~ .rdrDayNumber span {
   color: #222222 !important;
}

.rdrDayPassive .rdrDayNumber span {
   background-color: none !important;
   color: #aeb9bf !important;
}

.rdrDayPassive.rdrEndEdge ~ .rdrDayNumber {
   background-color: none !important;
}

.rdrStartEdge,
.rdrEndEdge {
   width: 100%;
   height: 100%;
   position: absolute !important;
   left: 0 !important;
   top: 0 !important;
   background-color: #222222 !important;
   border-radius: 100% !important;
   z-index: 40;
}
