/* map */
.mapboxgl-popup-close-button {
   left: 16px !important;
   display: flex !important;
   font-size: 20px !important;
   color: white !important;
   border: 1px !important;
   border-radius: 30px !important;
   background-color: rgba(0, 0, 0, 0.5) !important;
   width: 25px !important;
   height: 25px !important;
   justify-content: center !important;
   align-items: baseline !important;
   top: 16px !important;
}

.mapboxgl-popup-content {
   padding: 0 !important;
   border-radius: 12px !important;
   width: 300px;
}
